################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/week09/TeamActivity/node_modules
/.vs
/node_modules
variables.env
