html, header, body, footer {
    margin: 0;
    height: 100%;
}

/* Make room for sticky footer */
body {
    padding-bottom: 75px;
}

header, footer {
    background-color: #0076B6;
    height: 75px;
    color: #ffffff;
}

header div {
    width: 70%;
    margin: auto;
}

header img {
    height: 55px;
    position: absolute;
    padding: 10px 0px;
}

header p {
    font-size: 35px;
    padding: 20px 0px;
    margin: 0px;
    margin-left: 135px;
}

#navbar {
    width: 70%;
    margin: auto;
    margin-bottom: 60px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.nav li {
    float: left;
    width: 33.3%;
}

ul.nav li a {
    display: block;
    text-align: center;
    border: 1px solid #E5E5E5;
    padding: 14px 16px;
    text-decoration: none;
    color: #0076B6;
}

ul.nav li a:hover {
    background-color: #dddddd;
}

/*#modal-root {
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    opacity: 0;
    transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
}

#modal-root.visible {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.15s ease-out;
}

.modal {
    margin: 0 auto;
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top: 25%;
    transform: translateY(-50%);
    text-align: center;
}*/

small {
    display: none;
    color: red;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0076B6;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    text-align: center;
    padding: 27px 0px;
}