<nav id="header" class="navbar">
	<div class="container">
		<a class="navbar-brand">
			<img src='/images/byui-logo.png' alt='BYU-I Logo'/>
			 | Get Connected Binder
		</a>
		<div class="nav navbar-nav navbar-right">
			<a href="/logout"><button type="button" class="btn btn-light">Logout</button></a>
		</div>
	</div>
</nav>