<ul class="nav nav-tabs">
    <li class="nav-item">
        <a id="majorsTab" class="nav-link" onclick="clickMajors()">Majors</a>
    </li>
    <li class="nav-item">
        <a id="complexesTab" class="nav-link" onclick="clickComplexes()">Complexes</a>
    </li>
    <li class="nav-item">
        <a id="apartmentsTab" class="nav-link" onclick="clickApartments()">Apartments</a>
    </li>
</ul>