<div id='navbar'>
    <ul class='nav'>
        <li><a href='/'>Home</a></li>
        <li><a href='/database'>Database</a></li>
        <li><a href='/profile'>Profile</a></li>
    </ul>
</div>

<!--<ul class="nav justify-content-center nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/database" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Database
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/database">Majors</a>
        <a class="dropdown-item" href="/database">Complexes</a>
        <a class="dropdown-item" href="/database">Apartments</a>
    </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a>
    </li>
</ul>-->