<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/byuistyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="/javascript/home.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Binder - Get Connected</title>
</head>
<body onload="userInfo(); initializeAutocomplete();">
    <div>
        <% include partials/header.ejs %>
        <% include partials/navbar.ejs %>
        <% include partials/modal.ejs %>
    </div>
    <div class="container">
        <h1>Get Student Information</h1>
        <form action="">
            <div class="form-group">
                <label for="majorName">Major</label>
                <input type="text" class="form-control" id="majorName" name="majorName" placeholder="Major">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="complex">Apartment Complex</label>
                    <input type="input" class="form-control" id="complex" onBlur="refreshApartmentAutocomplete()" placeholder="Apartment Complex">
                </div>
                <div class="form-group col-md-6">
                    <label for="apartment">Apartment Number</label>
                    <input type="input" class="form-control" id="apartment" placeholder="Apartment Number">
                </div>
            </div>
            <button class="btn btn-primary" type="button" onClick="getInfo()">Submit</button>
        </form>
    </div>
    <% include partials/footer.ejs %>
    </body>
</html>